<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.webServer xdt:Transform="InsertIfMissing">
      <rewrite xdt:Transform="InsertIfMissing">
        <rules xdt:Transform="InsertIfMissing">
          <rule name="Api" patternSyntax="Wildcard" stopProcessing="true" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)">
            <match url="api/*" />
            <action type="None" />
          </rule>
          <rule name="Serve subdir" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" >
            <match url=".*" />
            <action type="Rewrite" url="Ether\dist\{R:0}" />
          </rule>
          <rule name="SPA fallback routing" stopProcessing="true" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            </conditions>
            <action type="Rewrite" url="Ether\dist\" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
</configuration>