@inherits BlazorLayoutComponent

<div class="wrapper">
    <div class="sidebar" data-color="green" data-image="~/sidebar-background.jpg">
        <div class="sidebar-wrapper">
            <NavMenu />
        </div>
        <div class="sidebar-background" style="background-image: url('/sidebar-background.jpg');"></div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-expand-lg">
            <div class="container">

            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                @Body
            </div>
        </div>
    </div>
</div>
