@inject EtherMenuService MenuService
<div class="logo">
    <a href="/" class="simple-text">
        <b>Ether</b> reports
    </a>
</div>

<ul class="nav">
    @foreach (var menu in MenuService.Menu)
    {
        <li class="nav-item">
            <NavLink class="nav-link" href="@(menu.Path)" Match="NavLinkMatch.Prefix">
                <i class="fa fa-@menu.Icon"></i>
                <p>@menu.Name</p>
            </NavLink>
        </li>
    }
</ul>

@functions { 

    protected override async Task OnInitAsync()
    {
        Console.WriteLine("Initializing menu");
        await MenuService.LoadMenuAsync();
    }

    protected override void OnAfterRender()
    {
        Console.WriteLine("Rendering menu");
        base.OnAfterRender();
    }
}