@page "/azure-devops/teammembers"
@inject TeamMembersStateService State
@inject ProfilesStateService ProfileState
@inject JsUtils JsUtils

<div class="row">
    <div class="col-md-12">
        @TeamMembersComponent
    </div>
</div>

@code {

    RenderFragment TeamMembersComponent = TeamMembersConnected.Get();

}