@page "/azure-devops/teammembers"

<div class="row">
    <div class="col-md-12">
        @TeamMembersComponent
    </div>
</div>

@code {

    RenderFragment TeamMembersComponent = TeamMembersConnected.Get();

}