<div>
    <span class="legend-block alert-warning"></span>
    <span class="legend-text">- On Hold</span>
    <span class="legend-block alert-danger"></span>
    <span class="legend-text">- Blocked</span>
    <span class="legend-block alert-primary"></span>
    <span class="legend-text">- Active</span>
    <span class="legend-block alert-secondary"></span>
    <span class="legend-text">- New</span>
</div>