@page
@model Ether.Pages.Queries.HistoryModel
<h2>Query history</h2>
<h3>Filter</h3>
<form id="compareForm">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label id="StartDateLabel" for="StartDate">From:</label>
                <div id="StartDate" type="text" name="from"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label id="EndDateLabel" for="EndDate">To:</label>
                <div id="EndDate" type="text" name="to"></div>
            </div>
        </div>
    </div>
    <button id="compareBtn" type="submit" class="btn btn-success">Compare</button>
    <div class="row">
        <div class="col-md-2" id="compareProgress">
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <span class="sr-only">Your report is being generated, please wait&hellip;</span>
                </div>
            </div>
        </div>
    </div>
</form>
<section id="history">
    <h3>History</h3>
    <table id="compareResult" class="table">
        <caption>Difference table</caption>
        <thead>
            <tr>
                <th>Date</th>
                <th>Count</th>
                <th>Trend</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div id="compareError" class="alert alert-danger" role="alert"></div>
</section>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('#history').hide();
            $('#compareProgress').hide();
            $('#compareError').hide();

            var commonOptions = {
                changeMonth: true,
                changeYear: false,
                minDate: "-1M",
                maxDate: "+1D",
                numberOfMonths: 2,
                onSelect: function (date) {
                    setSelectedStartDate(date);
                }
            };

            var startDateOptions = $.extend({
                defaultDate: "-1w"
            }, commonOptions);

            var startDate = $('#StartDate').datepicker(startDateOptions);
            var endDate = $('#EndDate').datepicker(commonOptions);

            setSelectedStartDate(startDate.datepicker("getDate").toLocaleDateString());
            setSelectedEndDate(endDate.datepicker("getDate").toLocaleDateString());

            $('#compareForm').submit(function (e) {
                e.preventDefault();
                toggleProgressBar();
                $('#history').hide();
                $('#compareError').hide();
                $('#compareResult').hide();
                var query = { Id: '@Model.Query.Id', from: $('#StartDate').datepicker("getDate").toLocaleDateString(), to: $('#EndDate').datepicker("getDate").toLocaleDateString() };
                $.getJSON('@Url.RouteUrl("GetDiff")', query)
                    .done(function (diff) {
                        console.log(diff);
                        var tableBody = $('#compareResult tbody');
                        tableBody.empty();
                        for (var idx in diff.states)
                        {
                            var state = diff.states[idx];
                            var trendClass = getTrendClass(state.trend);
                            var row = '<tr><td>' + formatDate(state.date) + '</td><td>' + state.itemsCount + '</td><td class="' + trendClass +'">' + (-state.trend) + '</td></tr>';
                            tableBody.append(row);
                        }
                        var diffClass = getTrendClass(diff.totalDiff);
                        var footer = '<tr class="active"><th>Total difference:</th><td class="' + diffClass +'" colspan="2">' + diff.totalDiff + '</td></tr>';
                        $('#compareResult tfoot')
                            .empty()
                            .append(footer);
                        $('#compareResult').show();
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        $('#compareError').text(error);
                        $('#compareError').show();
                        console.log('Call failed: ' + textStatus + '; Message: ' + error);
                    })
                    .always(function () {
                        toggleProgressBar();
                        $('#history').show();
                     });
            });
        });

        function setSelectedStartDate(date) {
            $('#StartDateLabel').text('From (' + date + '):');
        }

        function setSelectedEndDate(date) {
            $('#EndDateLabel').text('To (' + date + '):');
        }

        function formatDate(date) {
            return new Date(date).toLocaleDateString()
        }

        function getTrendClass(trend){
            return trend < 0 ? 'success' : (trend > 0 ? 'danger' : 'active');
        }

        function toggleProgressBar() {
            $('#compareBtn').toggle();
            $('#compareProgress').toggle();
        }
    </script>
}
