@page
@model Ether.Pages.Queries.IndexModel
<div class="box box-default">
    <div class="box-header">
        <h3 class="box-title">List of available queries</h3>
        <a asp-page="Edit" class="btn btn-success pull-right">New</a>
    </div>
    <div class="box-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var query in Model.Queries)
                {
                    <tr>
                        <td>@query.Name</td>
                        <td width="250">
                            <form class="form-inline" asp-page-handler="Delete" method="post">
                                <a asp-page="History" asp-route-id="@query.Id" class="btn btn-success">History</a>
                                <a asp-page="Edit" asp-route-id="@query.Id" class="btn btn-primary">Edit</a>
                                <input type="hidden" value="@query.Id" name="Id" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('.btn-danger').click(function (e) {
                var name = $(this).parents('tr').children("td:first").text();
                if (!confirm("Are you sure you want to delete query '" + name + "'?")) {
                    e.preventDefault();
                }
             });
        });
    </script>
}