@page
@model Ether.Pages.Queries.IndexModel

<h2>Queries</h2>

<table class="table">
    <caption>List of available queries</caption>
    <thead>
        <tr>
            <td colspan="2" class="text-right">
                <a asp-page="Edit" class="btn btn-success">New</a>
            </td>
        </tr>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var query in Model.Queries)
        {
            <tr>
                <td>@query.Name</td>
                <td width="250">
                    <form class="form-inline" asp-page-handler="Delete" method="post">
                        <a asp-page="History" asp-route-id="@query.Id" class="btn btn-success">History</a>
                        <a asp-page="Edit" asp-route-id="@query.Id" class="btn btn-primary">Edit</a>
                        <input type="hidden" value="@query.Id" name="Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('.btn-danger').click(function (e) {
                var name = $(this).parents('tr').children("td:first").text();
                if (!confirm("Are you sure you want to delete query '" + name + "'?")) {
                    e.preventDefault();
                }
             });
        });
    </script>
}