<div class="alert alert-@Type">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert">
        <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span>
        <b> @Header - </b> @Title
    </span>
</div>

@code{
    [Parameter] public string Type { get; set; }
    [Parameter] public string Header { get; set; }
    [Parameter] public string Title { get; set; }
}