<div class="card shadow mb-4 @AdditionalClasses">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">@Header</h6>
    </div>
    <div class="card-body">
        @Body
    </div>
    <div class="card-footer">
        @Footer
    </div>
</div>

@functions
{
    [Parameter] RenderFragment Header { get; set; }
    [Parameter] RenderFragment Body { get; set; }
    [Parameter] RenderFragment Footer { get; set; }
    [Parameter] string AdditionalClasses { get; set; }
}