<div class="card shadow mb-4 @AdditionalClasses">
    <div class="card-header">
        @if (!string.IsNullOrEmpty(Title))
        {
            <h6 class="m-0 font-weight-bold text-primary card-title">@Title</h6>
        }
        @Header
    </div>
    @if (Body != null)
    {
        <div class="card-body">
            @Body
        </div>
    }
    @if (Footer != null)
    {
        <div class="card-footer">
            @Footer
        </div>
    }
</div>

@code
{
    [Parameter] public string Title { get; set; }
    [Parameter] public RenderFragment Header { get; set; }
    [Parameter] public RenderFragment Body { get; set; }
    [Parameter] public RenderFragment Footer { get; set; }
    [Parameter] public string AdditionalClasses { get; set; }
}