@typeparam TItem

<table class="table" ref="table">
    <thead>
        <tr>@TableHeader</tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>@RowTemplate(item)</tr>
        }
    </tbody>
    <tfoot>
        @TableFooter
    </tfoot>
</table>

@functions
{
    private ElementRef table;

    //protected override async Task OnAfterRenderAsync()
    //{
    //    await JsUtils.DataTable(table);
    //}

    [Parameter] RenderFragment TableHeader { get; set; }
    [Parameter] RenderFragment<TItem> RowTemplate { get; set; }
    [Parameter] RenderFragment TableFooter { get; set; }
    [Parameter] IEnumerable<TItem> Items { get; set; }
}