select.form-control {
    height: auto;
}
.btn-link {
    padding: 0px;
    vertical-align: super;
}

.card.card-600 {
    min-height: 600px;
}

.show .dropdown-menu{
    transform: translate3d(0px, 44px, 0px) !important;
}