select.form-control {
    height: auto;
}

.btn-link {
    padding: 0px;
    vertical-align: super;
}

.card.card-600 {
    min-height: 600px;
}

.card-title {
    display: inline-block;
    vertical-align: middle;
}

.form-600 {
    max-height: 600px;
    overflow-y: scroll;
}

a.nav-link {
    cursor: pointer;
}

.pull-right {
    float: right;
}

.buttons-list {
    display: block;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-radius: 5.6px;
    padding: 10px;
    margin-top: 10px;
}

    .buttons-list .dropdown-item {
        padding: 0px;
    }

li.dropdown-item {
    cursor: pointer;
}

.form-control.invalid {
    border-color: #e74a3b;
}

.validation-message {
    color: #e74a3b;
}

.font-size-1 {
    font-size: 1.18em;
}

.legend-block {
    width: 35px;
    height: 35px;
    display: inline-block;
}

.legend-text {
    vertical-align: top;
    display: inline-block;
    padding-top: 7px;
}

.table-centered {
    text-align: center;
}