<footer class="main-footer hidden-print">
    <strong>Copyright © 2017 - @DateTime.UtcNow.Year <a href="https://twitter.com/BerserkerDotNET">Andrii Snihyr</a>.</strong>
    <div class="pull-right hidden-xs">
        <b>Powered by</b> <a href="https://adminlte.io">Almsaeed Studio</a>
    </div>
</footer>