<footer>
    <div class="navbar navbar-default navbar-fixed-bottom center">
        <div class="container-fluid">
            <div class="row navbar-inner">
                <ul class="nav navbar-nav">
                    <li><a class="footer-item" href="https://github.com/BerserkerDotNet/Ether/issues" target="_blank"><img src="~/images/footer/issue.png" alt="Report an issue" title="Report an issue" /></a></li>
                    <li><a class="footer-item" href="https://github.com/BerserkerDotNet/Ether" target="_blank"><img src="~/images/footer/github.png" alt="GitHub page" title="GitHub page" /></a></li>
                    <li><a class="footer-item" href="https://twitter.com/BerserkerDotNET" target="_blank"><img src="~/images/footer/twitter.png" alt="Twitter page" title="Twitter page" /></a></li>
                    <li><a class="footer-item" href="https://www.linkedin.com/in/andrii-snigyr-78b73a67/" target="_blank"><img src="~/images/footer/linkedin.png" alt="LinkedIn profile" title="LinkedIn profile" /></a></li>
                </ul>
            </div>
            <div class="row navbar-inner">
                <span class="footer-text">© 2017 - Andrii Snihyr</span>
            </div>
        </div>
    </div>
</footer>