@page "/azure-devops"
@inject EtherClient Client
<div class="row">
    <div class="col-md-12">
        <TeamMembers />
    </div>
    <div class="col-md-12">
        <Profiles />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <Projects />
    </div>    
    <div class="col-md-6">
        <Repositories />
    </div>
</div>