@page "/settings"

<div class="row">
    <div class="col-md-6">
        <Identities />
    </div>
    <div class="col-md-6">
        <VstsConfigurationSettings />
    </div>
    <div class="col-md-6">
        <JobLogs />
    </div>
</div>