<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright © 2017 - @DateTime.UtcNow.Year <a href="https://twitter.com/BerserkerDotNET">Andrii Snihyr</a>.</span>
        </div>
    </div>
</footer>