@inherits LayoutComponentBase

@inject EtherClient Client
@inject TokenService TokenService
@inject NavigationManager UriHelper
@if (isAuthenticated)
{
    <MatAppBar Style="z-index: 100;" Class="mat">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="@MatIconNames.Menu" OnClick="() => IsMenuOpened = !IsMenuOpened"></MatIconButton>
                <MatAppBarTitle>Ether - KPI reporting tool</MatAppBarTitle>
                <MatButton Unelevated="true" Link="/health-status">
                    @if (healthStatus.HealthStatus == HealthStatus.Unhealthy)
                    {
                        <span class="badge badge-pill badge-danger">Unhealthy</span>
                    }
                    else if (healthStatus.HealthStatus == HealthStatus.Degraded)
                    {
                        <span class="badge badge-pill badge-warning">Degraded</span>
                    }
                    else
                    {
                        <span class="badge badge-pill badge-success">Healthy</span>
                    }
                </MatButton>
            </MatAppBarSection>
            <MatAppBarSection Align="MatAppBarSectionAlign.End">

                <MatIcon Icon="@MatIconNames.Account_circle" />&nbsp; Welcome, @currentUser.DisplayName
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>
    <MatDrawerContainer Style="width: 100vw; height: 100vh;" Class="mat">
        <MatDrawer Opened="IsMenuOpened" Class="mat-elevation-z5">
            <MatAppBarAdjust></MatAppBarAdjust>
            <NavMenu />
        </MatDrawer>
        <MatDrawerContent Style="padding-left: 25px; padding-right: 25px;">
            <MatAppBarAdjust></MatAppBarAdjust>
            <div class="full-height">
                @Body
            </div>
            <FooterBlock />
        </MatDrawerContent>
    </MatDrawerContainer>
}
else
{
    <SpinnerDialog IsShown="true" Label="Loading, please wait..." />
}
@code{
    protected bool isAuthenticated = false;
    protected UserViewModel currentUser = UserViewModel.Anonymous;
    protected AppHealthStatus healthStatus = new AppHealthStatus();

    public bool IsMenuOpened { get; set; } = true;

    [CascadingParameter]
    public MatTheme Theme { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var token = await TokenService.GetToken();
        if (token == null || token.ExpiresAt <= DateTime.UtcNow)
        {
            UriHelper.NavigateTo("/login");
        }
        else
        {
            Client.SetAccessToken(token.Token);
            currentUser = await Client.GetCurrentUserAsync();
            healthStatus = await Client.GetHealthStatus();
            isAuthenticated = true;
        }
    }
}