.mdc-table {
    display: table !important;
}

.mdc-table td:last-child {
    width: auto !important;
}

.pull-right {
    float: right;
}

.btn-right {
    right: 0 !important;
    position: absolute !important;
}

.edit-form .mdc-dialog__surface {
    max-width: 100% !important;
    max-height: 500px !important;
    height: 500px !important;
    width: 610px !important;
}

.full-width {
    width: 100%;
}

.mdc-nav-menu {
    padding: 8px !important;
}

.mdc-sub-menu-icon {
    top: 15% !important;
}

.full-height {
    min-height: calc(100% - 100px);
}

.dialog-full-screen .mdc-dialog__surface {
    height: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
}

.dialog-full-screen .mdc-dialog__container {
    width: 100% !important;
}

.dialog-full-screen.mdc-dialog {
    z-index: 99999;
}

form.mdc-footer-bottom {
    height: calc(100% - 100px);
}

.mdc-footer-bottom .mdc-dialog__content {
    height: calc(100% - 25px);
}