@inject IEnumerable<IReporter> Reporters

@{
    ViewData["Title"] = "Reports";
    var profilesPropertyName = Utils.GetNameForAllItems(typeof(Profile));
    var allProfiles = (ViewData[profilesPropertyName] as IEnumerable<Profile>)
        .Select(p => new SelectListItem { Text = p.Name, Value = p.Id.ToString() });

    var allReporters = Reporters.Select(r => new SelectListItem { Text = r.Name, Value = r.Id.ToString() });
}
@model ReportViewModel

<h2>New Report</h2>

<form asp-action="Report" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Profile">Profile:</label>
        <select asp-for="Profile" asp-items="@allProfiles" class="form-control">
        </select>
        <span asp-validation-for="Profile" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Report">Report:</label>
        <select asp-for="Report" asp-items="@allReporters" class="form-control"></select>
        <span asp-validation-for="Report" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartDate">Start date:</label>
        <input asp-for="StartDate" type="text" class="form-control"/>
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndDate">End date:</label>
        <input asp-for="EndDate" type="text" class="form-control"/>
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <button id="generateReportBtn" type="submit" class="btn btn-success">Create a report</button>

</form>
@section Scripts{
    <script>
        $(document).ready(function () {
            var calendarOptions = {
                changeMonth: true,
                changeYear: true,
                minDate: "-6M",
                maxDate: "+1M"
            };
            $('#StartDate').datepicker(calendarOptions);
            $('#EndDate').datepicker(calendarOptions);
            $("#progressbar").progressbar({
                value: false
            });

            $('form').submit(function (e) {
                if ($(this).valid()) {
                    var btn = $('#generateReportBtn');
                    btn.attr("disabled", true);
                    btn.html('<img src="/images/spinner.gif" height="32" /><span>Generating report...</span>');
                }
             });

        });
    </script>
}