@page
@model Ether.Pages.Home.IndexModel
@inject IEnumerable<IReporter> Reporters
@inject IAll<Profile> Profiles

@{
    ViewData["Title"] = "New Report";
    var allProfiles = Profiles.Value.Select(p => new SelectListItem { Text = p.Name, Value = p.Id.ToString() });
    var allReporters = Reporters.Select(r => new SelectListItem { Text = r.Name, Value = r.Id.ToString() });
}

<h2>@ViewData["Title"]</h2>

<form asp-page-handler="Report" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="ReportRequest.Profile">Profile:</label>
        <select asp-for="ReportRequest.Profile" asp-items="@allProfiles" class="form-control"></select>
        <span asp-validation-for="ReportRequest.Profile" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReportRequest.Report">Report:</label>
        <select asp-for="ReportRequest.Report" asp-items="@allReporters" class="form-control"></select>
        <span asp-validation-for="ReportRequest.Report" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label id="StartDateLabel" asp-for="ReportRequest.StartDate">Start date:</label>
                <div id="StartDateDiv"></div>
                <input id="StartDate" asp-for="ReportRequest.StartDate" type="hidden" />
                <span asp-validation-for="ReportRequest.StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label id="EndDateLabel" asp-for="ReportRequest.EndDate">End date:</label>
                <div id="EndDateDiv"></div>
                <input id="EndDate" asp-for="ReportRequest.EndDate" type="hidden" />
                <span asp-validation-for="ReportRequest.EndDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <button id="generateReportBtn" type="submit" class="btn btn-success">Create a report</button>
</form>
<div id="loadingModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reporting</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">Your report is being generated, please wait&hellip;</span>
                    </div>
                </div>
                <p>Your report is being generated, please wait&hellip;</p>
            </div>
         </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts{
    <script>
        $(document).ready(function () {
            var commonOptions = {
                changeMonth: true,
                changeYear: true,
                minDate: "-6M",
                maxDate: "+1D",
                numberOfMonths: 2,
            };

            var startDateOptions = $.extend({
                defaultDate: "-1W",
                altField: "#StartDate",
                onSelect: function (date) {
                    setSelectedStartDate(date);
                }
            }, commonOptions);
            var startDate = $('#StartDateDiv').datepicker(startDateOptions);

            var endDateOptions = $.extend({
                defaultDate: "+1D",
                altField: "#EndDate",
                onSelect: function (date) {
                    setSelectedEndDate(date);
                }
            }, commonOptions);
            var endDate = $('#EndDateDiv').datepicker(endDateOptions);

            $('form').submit(function (e) {
                if ($(this).valid()) {
                    $('#loadingModal').modal({
                        keyboard: false,
                        backdrop: 'static'
                    });
                }
            });

            setSelectedStartDate(startDate.datepicker("getDate").toLocaleDateString());
            setSelectedEndDate(endDate.datepicker("getDate").toLocaleDateString());
        });
        function setSelectedStartDate(date) {
            $('#StartDateLabel').text('Start date (' + date + '):');
        }

        function setSelectedEndDate(date) {
            $('#EndDateLabel').text('End date (' + date + '):');
        }
    </script>
}