@page "/azure-devops/profiles"

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
            @ProfilesComponent
        </div>
    </div>
</div>

@code{
    RenderFragment ProfilesComponent = ProfilesConnected.Get();
}