@page "/azure-devops/projects-and-repositories"

<div class="row">
    <div class="col-md-6">
        @Projects
    </div>
    <div class="col-md-6">
        @Repositories
    </div>
</div>

@code{

    private RenderFragment Projects = ProjectsConnected.Get();

    private RenderFragment Repositories = RepositoriesConnected.Get();
}