@page "/azure-devops/teammembers"

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
            @TeamMembersComponent
        </div>
    </div>
</div>

@code {
    RenderFragment TeamMembersComponent = TeamMembersConnected.Get();
}