<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppUrl" value="https://localhost:44315/api/"/>
    <add key="ClientId" value="EtherEmailGenerator"/>
    <add key="ClientSecret" value="EtherEmailGeneratorSecret"/>
    <add key="InstanceName" value="" />
  </appSettings>
</configuration>