@inherits FormItemBase

<div id="@Id" class="form-group">
    @if (!NoLabel)
    {
        <label>@Title</label>
    }
    @ChildContent
    <div class="invalid-feedback">
        <span>@ErrorMessage</span>
    </div>
</div>