<p>
    <MatTextField @bind-Value="Model.EmailSubject" Label="Subject" FullWidth="true" />
</p>
<div class="form-group">
    <label>Body</label>
    <SummerNoteBootstrap @bind-Value="Model.EmailBody" />
</div>

@code {
    [Parameter] public ProfileViewModel Model { get; set; }
}
