<If Condition="@(Props.VstsDataSource == null)">
    <Then>
        <Spinner Text="Loading..." />
    </Then>
    <Else>
        <EditForm Model="Props.VstsDataSource" OnValidSubmit="@(async () => await Props.OnSave.InvokeAsync(Props.VstsDataSource))">
            <MatHeadline4>Azure DevOps configuration</MatHeadline4>
            <p>
                <MatTextField @bind-Value="Props.VstsDataSource.InstanceName" Label="Name" Class="full-width" />
                <ValidationMessage For="@(() => Props.VstsDataSource.InstanceName)" />
            </p>
            <p>
                <SelectControl @bind-Value="Props.VstsDataSource.DefaultToken"
                               Options="Props.IdentitiesOptions"
                               KeyToString="k => k is null ? Guid.Empty.ToString() : k.ToString()"
                               StringToKey="s => Guid.Parse(s) == Guid.Empty ? (Guid?)null : (Guid?)Guid.Parse(s)"
                               Label="Identity" />
                <ValidationMessage For="@(() => Props.VstsDataSource.DefaultToken)" />
            </p>

            <MatButton Raised="true" Type="Submit">Save</MatButton>
        </EditForm>
    </Else>
</If>

@code
{
    [Parameter] public VstsConfigurationSettingsProps Props { get; set; }
}