@page
@model Ether.Pages.Settings.EditProjectModel

<form asp-page="EditProject" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Project.Name">Name:</label>
        <input asp-for="Project.Name" class="form-control" />
        <span asp-validation-for="Project.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Project.DoesNotHaveWorkItems">Does not have work items:</label>
        <input asp-for="Project.DoesNotHaveWorkItems" />
    </div>
    <input asp-for="Project.Id" type="hidden" />
    <button type="submit" class="btn btn-success">Save</button>
    <a asp-page="Projects" class="btn btn-danger">Cancel</a>
</form>