@page "/job-logs"
@inject JobLogsStateService JobLogsState

<div class="row">
    <div class="col-md-12">
        <Ether.Components.Settings.JobLogs Items="JobLogsState.Logs" OnRefresh="HandleRefresh" OnDetailsRequested="HandleDetailsRequest" />
    </div>
</div>

@code{

    protected override async Task OnInitAsync()
    {
        await JobLogsState.LoadAsync();
    }

    protected async Task HandleRefresh()
    {
        await JobLogsState.LoadAsync(hard: true);
    }

    protected async Task<JobDetails> HandleDetailsRequest(JobLogViewModel log)
    {
        return await JobLogsState.GetJobDetails(log);
    }
}