@page
@model Ether.Pages.Settings.ProjectsModel

<table class="table table-hover">
    <caption>Available projects</caption>
    <thead>
        <tr>
            <td></td>
            <td></td>
            <td class="text-right">
                <a asp-page="EditProject" class="btn btn-success">Add new</a>
            </td>
        </tr>
        <tr>
            <th>Name</th>
            <th>Does not have work items</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.Projects)
        {
            <tr>
                <td>@project.Name</td>
                <td>@project.DoesNotHaveWorkItems</td>
                <td width="150">
                    <form class="form-inline" asp-page-handler="Delete" method="post">
                        <a asp-page="EditProject" asp-route-id="@project.Id" class="btn btn-primary">Edit</a>
                        <input type="hidden" value="@project.Id" name="Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('.btn-danger').click(function (e) {
                var name = $(this).parents('tr').children("td:first").text();
                if (!confirm("Are you sure you want to delete '" + name + "'?")) {
                    e.preventDefault();
                }
             });
        });
    </script>
}


