@page
@model Ether.Pages.Settings.RepositoriesModel
@inject IAll<VSTSProject> Projects
@{
    ViewData["Title"] = "Repositories";
}

<h2>Repositories</h2>

<table class="table table-hover">
    <caption>Available repositories</caption>
    <thead>
        <tr>
            <td></td>
            <td></td>
            <td class="text-right">
                <a asp-page="EditRepository" class="btn btn-success">Add new</a>
            </td>
        </tr>
        <tr>
            <th>Name</th>
            <th>Project</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var repo in Model.Repositories)
        {
            var project = Projects.Value.Single(p => p.Id == repo.Project);
            <tr>
                <td>@repo.Name</td>
                <td>@project.Name</td>
                <td width="150">
                    <form class="form-inline" asp-page-handler="Delete" method="post">
                        <a asp-page="EditRepository" asp-route-id="@repo.Id" class="btn btn-primary">Edit</a>
                        <input type="hidden" value="@repo.Id" name="Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('.btn-danger').click(function (e) {
                var name = $(this).parents('tr').children("td:first").text();
                if (!confirm("Are you sure you want to delete '" + name + "'?")) {
                    e.preventDefault();
                }
             });
        });
    </script>
}
