@page
@model Ether.Pages.Settings.RepositoriesModel
@inject IAll<VSTSProject> Projects

<div class="box box-default">
    <div class="box-header">
        <h3 class="box-title">Available repositories</h3>
        <a asp-page="EditRepository" class="pull-right btn btn-success">Add new</a>
    </div>
    <div class="box-body">
        <table id="repositories" class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Project</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var repo in Model.Repositories)
                {
                    var project = Projects.Value.Single(p => p.Id == repo.Project);
                    <tr>
                        <td>@repo.Name</td>
                        <td>@project.Name</td>
                        <td width="150">
                            <form class="form-inline" asp-page-handler="Delete" method="post">
                                <a asp-page="EditRepository" asp-route-id="@repo.Id" class="btn btn-primary">Edit</a>
                                <input type="hidden" value="@repo.Id" name="Id" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {

            $('#repositories').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': false,
                'info': true,
                'autoWidth': false
            });

            $('.btn-danger').click(function (e) {
                var name = $(this).parents('tr').children("td:first").text();
                if (!confirm("Are you sure you want to delete '" + name + "'?")) {
                    e.preventDefault();
                }
             });
        });
    </script>
}
