@page "/settings"
@inject IdentitiesStateService IdentityState
@inject VstsDataSourceStateService VstsDataSourceState
@inject JsUtils JsUtils
@inject ILogger<Settings> Logger

<div class="row">
    <div class="col-xl-6 col-md-12">
        @Identities
    </div>
    <div class="col-xl-6 col-md-12">
        @VstsDataSourceSettings
    </div>
</div>

@code{

    private RenderFragment Identities = IdentitiesConnected.Get();

    private RenderFragment VstsDataSourceSettings = VstsConfigurationSettingsConnected.Get();

}