@page "/settings"

<div class="row">
    <div class="col-xl-6 col-md-12">
        <Identities />
    </div>
    <div class="col-xl-6 col-md-12">
        <VstsConfigurationSettings />
    </div>
</div>